# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other directories and files
AI and datascience with python/
Application Development using Microservices and Serverless*/
Developing AI Applications with Python and Flask*/
Django Application Development with SQL and Databases*/
Full Stack Application Development Capstone Project*/
Introduction to Containers Docker Kubernetes OpenShift*/
xrwvm-fullstack_developer_capstone/